.app{
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  margin-bottom: 1rem;
}
.action-btn{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.action-btn__one{
  display: flex;
  gap: 0.6rem;
}

button{
  width: 8rem;
  height: 3rem;
  color: orange;
  background-color: black;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  transition: all 0.4ms 0.4ms;
}
.btn-reset{
  width: 100%;
  margin-bottom: 1rem;
}
button:hover{
  background-color: orangered;
  color: aliceblue;
}